<mat-toolbar>
  <h2>Search user countries</h2>
</mat-toolbar>
<form [formGroup]="searchForm" (ngSubmit)="onSubmitSearchForm()">
  <br/>
  <mat-form-field>
    <input type="text" matInput placeholder="User"
      formControlName="userName" [matAutocomplete]="usersCompletion">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input type="text" matInput placeholder="Country"
      formControlName="countryName" [matAutocomplete]="countriesCompletion">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-select placeholder="Visit" formControlName="visited">
      <mat-option [value]="binOptions['any']"> any </mat-option>
      <mat-option [value]="binOptions['yes']"> yes </mat-option>
      <mat-option [value]="binOptions['no']"> no </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-select placeholder="Has visa" formControlName="hasVisa">
      <mat-option [value]="binOptions['any']"> any </mat-option>
      <mat-option [value]="binOptions['yes']"> yes </mat-option>
      <mat-option [value]="binOptions['no']"> no </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary">show</button>

  <mat-autocomplete #usersCompletion>
    <mat-option *ngFor="let user of users$ | async" [value]="user.name">
      {{ user.name }}
    </mat-option>
  </mat-autocomplete>

  <mat-autocomplete #countriesCompletion>
    <mat-option value=""></mat-option>
    <mat-option *ngFor="let country of countries$ | async" [value]="country.name">
      {{ country.name }}
    </mat-option>
  </mat-autocomplete>
</form>

<ng-container *ngIf="!(resultsLoading$ | async) && (searchResults$ | async)">

  <mat-toolbar>
    <h2>Search results</h2>
  </mat-toolbar>

  <form [formGroup]="searchResultForm" (ngSubmit)="saveChanges()">

    <table mat-table [dataSource]="searchResults$ | async">
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let item"> {{ item.user.name }} </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let item"> {{ item.country.name }} </td>
      </ng-container>

      <ng-container matColumnDef="visited" formArrayName="visited">
        <th mat-header-cell *matHeaderCellDef> Visited </th>
        <td mat-cell *matCellDef="let item; let i=index">
          <mat-checkbox [formControlName]="i"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="hasVisa" formArrayName="hasVisa">
        <th mat-header-cell *matHeaderCellDef> Has Visa </th>
        <td mat-cell *matCellDef="let item; let i=index">
          <mat-checkbox [formControlName]="i"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br/>
    <button mat-raised-button color="primary">save</button>
  </form>

</ng-container>
